server:
  port: 8001

spring:
  artemis:
    mode: embedded
    embedded:
      enabled: true
      persistent: false
  jms:
    cache:
      enabled: false
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      auto-offset-reset: earliest
      group-id: vision
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
  main:
    banner-mode: off

logging:
  structured:
    format:
      console: logstash
  level:
    io.github.mavarazo: DEBUG
    org.apache.kafka: WARN
    org.springframework.kafka: WARN
    org.apache.kafka.clients.NetworkClient: ERROR
    org.apache.kafka.common.utils.AppInfoParser: ERROR
    state.change.logger: ERROR
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,tracing
      base-path: /actuator
  tracing:
    sampling:
      probability: 1.0
    propagation:
      type: w3c
    baggage:
      remote-fields:
        - correlation.id
      correlation:
        fields:
          - correlation.id

vision:
  jms:
    queues:
      accident: accident
      rental: rental
  kafka:
    queues:
      accident: accident
      rental: rental